[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dmdukes
[access "refs/for/refs/*"]
	read = group user/dmdukes
	push = group user/dmdukes
	label-Code-Review = -2..+2 group user/dmdukes
	label-Verified = -1..+1 group user/dmdukes
	rebase = group user/dmdukes
	removeReviewer = group user/dmdukes
	submit = group user/dmdukes
[access "refs/heads/*"]
	read = group user/dmdukes
	create = group user/dmdukes
	push = +force group user/dmdukes
	pushMerge = group user/dmdukes
[access "refs/tags/*"]
	push = group user/dmdukes
	push = +force group user/dmdukes
